{{#> layout}}
  <section class="hero">
    <img src="/images/about-me.jpg" alt="About Me" class="hero-image">
    <div class="about">
      <h2>About Me</h2>
      <p>My name is Michel Quintero. Originally from Colombia, I've lived in the United States for over five years. At 33 years old, I currently reside in Orlando. I'm a woman driven by a passion for progress, not just for myself but also for my family and society. As a Hispanic woman and professional, I strive to contribute the best of myself to every aspect of life.</p>
    </div>
  </section>
{{/layout}}
